<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>

<div class="detail">
    <h4>상세페이지</h4>

    <div>
        <img src="https://placehold.co/300" alt="Placeholder Image" style="max-width: 300px; max-height: 300px;">
    </div>

    <h4 th:text="${item.title}">제목 없음</h4>
    <p th:text="${item.price + '원'}">가격 없음</p>
</div>

<div class="comments">
    <h4>댓글</h4>
    <ul>
        <!-- 댓글 리스트를 순회하며 출력 -->
        <li th:each="comment : ${comments}">
            <p><strong th:text="${comment.username}">사용자 이름</strong>: <span th:text="${comment.content}">댓글 내용</span></p>
        </li>
    </ul>
</div>

<form action="/comment" method="POST">
    <input name="content">
    <input name="parent" th:value="${item.id}" style="display : none">
    <button>전송</button>
</form>

</body>
</html>
